@if (isLoading() === false) {
<a
  [routerLink]="[character()!.region, character()!.realm, character()!.name]"
  class="block max-w-sm"
>
  <div
    class="grid grid-cols-3 grid-rows-3 gap-0 border pl-1"
    [ngStyle]="{ 'border-color': getClassColor() }"
  >
    <div class="flex row-span-3 justify-start items-center">
      <img
        [src]="character()?.thumbnailUrl"
        [alt]="character()!.name"
        class="h-full"
      />
    </div>

    <div class="col-span-2">
      <h2 class="text-xl font-bold">{{ character()!.name }}</h2>
    </div>

    <div class="col-start-2 row-start-2 pr-1">
      <p class="truncate">
        <strong>{{ "race" | translate }}:</strong>
        {{ character()!.race | translate }}
      </p>
    </div>

    <div class="col-start-3 row-start-2">
      <p class="truncate">
        <strong>{{ "class" | translate }}:</strong>
        {{ character()!.class | translate }}
      </p>
    </div>

    <div class="col-start-2 row-start-3 pr-1">
      <p>
        <strong>{{ "role" | translate }}:</strong>
        {{ character()!.activeSpecRole | translate }}
      </p>
    </div>
    <div class="col-start-3 row-start-3">
      @for (mythicPlusScore of mythicPlusScores(); track $index) { @if
      (mythicPlusScore.isCurrentSeason) {
      <p><strong>IO:</strong> {{ mythicPlusScore.segments.all.score }}</p>
      } }
    </div>
  </div>
</a>
}@else {
<div class="flex justify-center items-center m-auto p-4">
  <spinner></spinner>
</div>
}
